{% extends 'base.html' %}

{% block title %}|| cart{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-8 p-2">
                {% if books %}
                    {% for book in books %}
                    <div class="card mb-3 shadow-sm" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{{book.image.url}}" class="img-fluid rounded-start" style="height:150px;" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{book.title}}</h5>
                                <p class='mb-0'>Quantity: {{book.quantity}}</p>
                                <p class='mb-0'>Price: {{book.price}}</p>
                                <a href="{% url 'book_details' book.id %}" class='btn btn-sm btn-outline-warning'>Update</a>
                                <a href="{% url 'remove_from_cart' book.id %}" class='btn btn-sm btn-outline-danger'>Remove</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                {% else %}
                    <h4 class="text-center">Your cart is Empty!</h4>
                {% endif %}
                
            </div>
            <div class="col-md-4 p-2">
                <div class="card">
                    <div class="card-body">
                        {% if total_price %}
                        <a href="{% url 'all_books' %}" class="btn btn-primary w-100">Continue Shopping</a>
                        {% endif %}
                    </div>
                </div><br><p class="text-center">Or</p><br>
                <div class="card">
                    <div class="card-body">
                        {% if total_price %}
                        <h4>Total Price: Rs {{total_price}} /-</h4>
                        <a href="{% url 'check_out' %}" class="btn btn-primary w-100">Check Out</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}