{% extends 'base.html' %}

{% block title %}
|| Order History
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
         {% for order in orders %}
           <div class="card mb-2">
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="{{order.book.image.url}}" style="width: 50px;">
                        </div>
                        <div class="col-md-3 p-1">
                            <a href="{% url 'book_details' order.book.id %}" class="d-block fw-semibold">{{order.book.title}}</a>
                            <p class="mb-1"><b>Quantity: </b> {{order.quantity}}</p>
                            <p class="mb-1"><b>Price: </b> {{order.price}}</p>
                        </div>
                        <div class="col-md-4 p-1">
                            <p><b>Delivery Address: </b>{{order.address}}</p>
                        </div>
                        <div class="col-md-4 p-1">
                            <p class="mb-1"><b>Status: </b>Order {{order.status}}</p>
                            <div>
                                {% if order.status == "delivered" %}
                                    <p class="mb-1">Order is deliverd on {{order.updated_at}}</p>
                                    <a href="" class="btn btn-sm btn-outline-primary rounded-0" data-bs-toggle="modal" data-bs-target="#feedbackModal"
                                    data-book-id="{{order.book.id}}" data-book-title="{{order.book.title}}" onClick="setBookDetails(event)"
                                    >Feedback</a>
                                {% else %}
                                <p class="mb-1">Order is placed on {{order.created_at}}</p>
                                    <a href="" class="btn btn-sm btn-outline-danger rounded-0 d-block">Cancel order</a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>

           </div>
         {% endfor %}

        </div>
    </div>
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Feedback for <span class="text-primary" id="bookTitle"></span></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_feedback' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="book_id" id="bookId">
                    <div class="rate">
                        <input type="radio" id="star5" name="rating" value="5" required>
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" required>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" required>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" required>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" required>
                        <label for="star1" title="text">1 star</label>
                    </div>
                    <textarea name="comment" class="form-control rounded-0 my-3" placeholder="Say Something" rows="5"></textarea>
                    <input type="submit" class="btn btn-primary rounded-0" value="Post">
                    
                </form>
            </div>
            {% comment %} <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
</div>
{% endblock content %}


{% block extrajs %}
    <script>
        function setBookDetails(e){
            let bookId=e.target.dataset.bookId
            let bookTitle = e.target.dataset.bookTitle
            document.getElementById("bookTitle").innerHTML = bookTitle
            document.getElementById("bookId").value = bookId
        }
    </script>
{% endblock extrajs %}