{% extends 'base.html' %}

<title>||profile</title>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto my-5">
                <div class="card">
                    <div class="card-body">
                        <p><strong>Name: </strong>{{user.first_name}} {{user.last_name}}</p>
                        <p><strong>Username: </strong>{{user.username}}</p>
                        <p><strong>Email: </strong>{{user.email}}</p>
                        <p><strong>Password: </strong>*****<a href="">Change Password</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}